@model Categoria
@{
    ViewData["Title"] = "Editar Categoria";
}


<h1>Editar Categoria</h1>



<form asp-action="Editar">
    <div asp-validation-summary="ModelOnly" class="text-danger">
    </div>
    <input type="hidden" asp-for="Id" />
    <div class="mb-3">
        <label asp-for="Nombre" class="form-label"></label>
        <input asp-for="Nombre" class="form-control" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="TipoOperacionId" class="form-label"></label>

        <!--
            asp-items="Html.GetEnumSelectList<TipoOperacion>()" lo que hace es que retorna una lista de elementos a partir de los
                valores de un Enum y los despliega en el select
        -->
        <select asp-for="TipoOperacionId" asp-items="Html.GetEnumSelectList<TipoOperacion>()" class="form-select">
        </select>

        <span asp-validation-for="TipoOperacionId" class="text-danger"></span>
    </div>

    <button class="btn btn-primary" type="submit">
        Enviar
    </button>
    <a asp-action="Index" class="btn btn-secondary">
        Cancelar
    </a>

</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
