@model IEnumerable<Categoria>
@{
    ViewData["Title"] = "Categorias";
}


<h1>Categorias</h1>
<h5>
    Una categoria nos permite indicar en que gastamos nuestro dinero,
    Tambien, de donde provienen nuestros ingresos.
</h5>

<a asp-action="Crear" class="btn btn-primary mb-3">Crear Nuevo</a>

<table class="table">
      <thead>
          <th>Acciones</th>
          <th>Nombre</th>
          <th>Tipo</th>
      </thead>

      <tbody>
        @foreach(var categoria in Model)
        {
            <tr>
                <td> 
                    <a class="btn btn-primary" asp-action="Editar" asp-route-id="@categoria.Id">Editar</a>
                    <a class="btn btn-danger" asp-action="Borrar" asp-route-id="@categoria.Id">Borrar</a>
                </td>
                <td>
                    @categoria.Nombre
                </td>

                <td>
                    <!--
                        categoria.TipoOperacionId.ToString()
                        ToString() parece ser que como TipoOperacionId es un enum trae el nombre de la propiedad
                    -->
                    @categoria.TipoOperacionId.ToString()
                </td>
            </tr>
        }
    </tbody>

</table>



