@model Cuenta;

@{
    ViewData["Title"] = "Borrar Cuenta";
}

<h3> ¿ Esta seguro de querer borrar la cuenta @Model.Nombre ? </h3>

<form asp-action="BorrarCuenta">
    <input type="hidden" asp-for="Id" />

    <button class="btn btn-danger" type="submit">
        Borrar
    </button>
    <a asp-action="Index" class="btn btn-secondary">
        Cancelar
    </a>


</form>





