/*

    ESTE TIPO DE ARCHIVO DE CSS ES ESPECIAL, SE LE LLAMA AISLAMIENTO DE CSS
    Y SIRVE PARA APLICAR CIERTOS ESTILOS A UNA ACCION DE UN CONTROLADOR EN ESPECIFICO.
*/
h1{
    color:red;
}


.acordeon-cuentas button {
    color: black !important;
    font-size: 20px;
}

.acordeon-cuentas button > span {
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.acordeon-cuentas ul li {
    display: flex;
    justify-content: space-between
}

.acordeon-cuentas .accordion-collapse {
    font-size: 18px;
}
